<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="nuTerra.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <nuTerra.My.MySettings>
            <setting name="GamePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="s_fog_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_terrain_ambient_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_terrian_texture_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_model_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_gamma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_gray_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bright_level" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Ambient_level" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Gamma_level" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Fog_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gray_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Specular_level" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="load_terrain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_trees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_models" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_decals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_water" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_bases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_sky" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="far" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="near" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="fov" serializeAs="String">
                <value>60.0</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </nuTerra.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
