<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net45" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net461" />
  <package id="NGettext" version="0.6.6" targetFramework="net461" />
  <package id="OpenTK" version="3.3.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
</packages>