<configuration>
    <dllmap dll="DevIL.dll" os="windows" target="DevIl.dll" />
    <dllmap dll="DevIL.dll" os="osx" target="libIL.so.1" />
    <dllmap dll="DevIL.dll" os="!windows,osx" target="libIL.so.1" />

    <dllmap dll="ILU.dll" os="windows" target="ILU.dll" />
    <dllmap dll="ILU.dll" os="osx" target="libILU.so.1" />
    <dllmap dll="ILU.dll" os="!windows,osx" target="libILU.so.1" />

    <dllmap dll="ILUT.dll" os="windows" target="ILUT.dll" />
    <dllmap dll="ILUT.dll" os="osx" target="libILUT.so.1" />
    <dllmap dll="ILUT.dll" os="!windows,osx" target="libILUT.so.1" />
</configuration>
